body { margin: 0px; }
p { text-align: justify; }
a { text-decoration: none; 
    ;}
#menu-superior { position: absolute; display:flex; left: 20px; top:10px;  }
#frame-destinacio { position: absolute; left: 20px; top:60px; }
#home-link { display: inline-block;
             font-size: larger;
             font-weight: bold;
             width: 200px;
             color: rgb(109, 109, 109); }
#opcio1 { display: inline-block;
          width:   100px; }
#opcio2 { display: inline-block;
          width:   80px;}
#opcio3 { display: inline-block;
          width:   120px; }
#opcio4 { display: inline-block;
          width:   100px; }
#opcio5 { display: inline-block;
          width:   100px; }