body {
    margin: 0;
}

#barraMenu {
    height: 60px;
    width: 100%;
    background-color: gray;
    font-size: x-large;
    opacity: 0.5;
    display: flex;
}

#logo {
    flex: auto;
    align-self: flex-start;
    background-image: url("https://via.placeholder.com/60x60");
}

#titol {
    flex: auto;
    align-self: flex-start;
}

#idioma {
    flex: auto;
    align-self: flex-end;
}

#fotoMain {
    height: 360px;
    width: 640px;
    border: 3px solid black;
    background-image: url("https://via.placeholder.com/640x360");
}

#texte {
    /* a borrar */
    margin: 50px;
    background-color: gray;
    opacity: 0.5;
    /*display: none;*/
}

#copy {
    text-align: center;
}